{% load static %}
{% load compress %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ sc.title }}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name='yandex-verification' content='' />
    <meta name="google-site-verification" content="" />

    {% block css %}
        {% compress css %}
            <link href="{% static "css/style.scss" %}" media="all" type="text/x-sass" rel="stylesheet"/>
        {% endcompress %}
    {% endblock %}

    {% block extra_meta %}{% endblock %}
</head>
<body id="{% block body_id %}body{% endblock body_id %}" class="{% block body_class %}body{% endblock body_class %}">

{% block body %}{% endblock %}

{% block js %}
    {% compress js %}
        <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    {% endcompress %}
{% endblock %}

</body>
</html>
